body{
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
}
.text-contant{
    width: 980px;
    margin: 0 auto;
}
.btn{
    color:#000;
    border:2px solid black;
    background-color: #41d4f1;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
	
}
