.container {
	max-width: 1020px;
    margin: 0 auto;
}
.product-layter{
    margin-top: 10px;
    }
.product-layter__block{
    border:2px solid #3535e8;
    background-color: #fff;
    min-height: 540px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.section__title{
    color:black;
    font-size: 30px;
    margin-bottom: 30px;
}


.list__titte{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
	color: blue;
}
.list__title_size{
    margin-bottom: 37px;
}
.form__list_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fotm__list_size{
    list-style-type: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.product-layter__form{
    max-width: 50%;
}
.form__prise{
    color:#000000;
    font-size: 20px;
    font-weight: bold;
}
.product-text{
    max-width: 77%;
    margin: 0;
    margin-bottom: 15px;

}
.form__prise_small{
   font-size: 12px;
    color:#999;
    display: inline-block;
    margin-left: 13px;
    margin-right: 50px;
    text-decoration: line-through;
}

.product-layter__slider{
    width: 520px;
    height: 320px;
    display: flex;
    justify-content: space-between;
}
.layter-slider__item{
    width: 100%;
    height:100%;
}
.layter-slider_big{
    
    height:320px;
}
