<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW_2_1</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <div id="app">

    <div class="text-contant">
        <h1 class="title"> {{ title }}</h1>
        <p class="text">
             Компания Audi презентовала новое поколение модели A7. Это спортивный пятидверный хетчбэк, который сам автопроизводитель предпочитает называть четырехдверным купе.
			 По сравнению с прежней машиной, новый A7 стал на полтора сантиметра короче и немного ниже. При этом длина салона, напротив, увеличилась на 21 мм за счет места для задних пассажиров. На выбор доступны две конфигурации задних сидений — трехместный диван или два отдельных кресла.
			 Для всех A7 полный привод является стандартным исполнением. За доплату, однако, предлагается продвинутый задний дифференциал с управляемым вектором тяги. Еще одна опция — полноуправляемое шасси в котором задние колеса также поворачиваются: на малых скоростях это повышает маневренность, а на высоких — устойчивость при перестроении.
            <span class="reade-more" v-if='show'>
            В начале автомобиль будет предлагаться с единственным, и уже знакомым мотором — трехлитровым бензиновым V6, который благодаря наддуву выдает 340 л.с. Этот агрегат, как и прежде, сочетается с семиступенчтатой преселективной роботизированной коробкой передач. 
            </span>
        </p>
        <button class="btn" @click="showText" v-if='show'>Убрать текст</button>
        <button class="btn" @click="showText" v-else>Читать дальше</button>
    </div>

 </div>
<script src="js/main.js"></script>
</body>
</html>