/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #315e82 0%, #f7f7f7 100%);
}

.tabs-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 25px;
}

.tabs {
  display: flex;
}

.tabs li:not(:last-child) {
  margin-right: 7px;
}

.tabs li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background: #fff;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
  opacity: 1;
  top: 0;
}

.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  background: #fff;
}

.tabs-panel.active {
  display: block;
}

.tabs-panel p + div {
  margin-top: 15px;
}

.info-pic {
    width: 80%;
    float:right;
    margin:  20px 60px 30px;
}

.info-text {
    text-align: left;
    margin: 20px 30px;
}
.info-text h2 {
    text-align: center;
    margin: 20px auto;
}
.info-text h3 {
    margin: 10px auto;
}
.info-text h4 {
    text-align: center;
}
.info-text p {
    font-size: 0.9em;
    text-indent: 40px;
    line-height: 25px;
}
.info-text li {
    list-style: initial;
    font-size: 0.9em;
    text-indent: 40px;
    line-height: 25px;
}
